<div class="dropzone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
    <img src="cloud-upload.svg" alt="Upload Icon" class="upload-icon" />
    <p class="drop-text">Drag & Drop your files here</p>
    <input #fileInput type="file" accept="application/pdf" (change)="onFileSelected($event)" hidden />
</div>
<div class="center-button">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>