<div class="landing-container">
    <app-format-selector></app-format-selector>

    <h2>Conversiones Populares</h2>
    <div class="grid">
        <a routerLink="/convert/pdf-word" class="card">PDF → Word</a>
        <a routerLink="/convert/pdf-jpg" class="card">PDF → JPG</a>
        <a routerLink="/convert/jpg-png" class="card">JPG → PNG</a>
        <a routerLink="/convert/mp4-mp3" class="card">MP4 → MP3</a>
        <a routerLink="/convert/docx-pdf" class="card">DOCX → PDF</a>
    </div>
</div>