<mat-toolbar color="primary">PDF Ninja</mat-toolbar>

<mat-card class="converter-card">
    <h2>Convertidor PDF a Word</h2>

    <button mat-raised-button color="accent">
        <label for="fileInput" style="cursor: pointer; display: flex; align-items: center;">
            <mat-icon>upload</mat-icon>&nbsp; Seleccionar archivo PDF
        </label>
    </button>

    <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" accept=".pdf" />

    <div *ngIf="loading" style="margin-top: 20px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</mat-card>